.guess-container {
	display: flex;
	justify-content: center;
}

.correct-guesses {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	
}
.new-game{
	display: flex;
	justify-content: flex-end;
}

body {
	background-color: #deeaee;
}


.form-control {
	width: 20%;

}
